<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadreit.inkreadboot.Mapper.AnnouncementMapper">
    <select id="PageListAnnouncements" resultType="com.fadreit.inkreadboot.Entity.Announcement">
        select id, title, content, status, created_at, updated_at, is_deleted
        from announcement
        where status = 1
          and is_deleted = 0
        order by created_at desc
    </select>

    <select id="GetAnnouncementById" resultType="com.fadreit.inkreadboot.Entity.Announcement">
        select id, title, content, status, created_at, updated_at, is_deleted
        from announcement
        where id = #{id}
    </select>

    <insert id="addAnnouncement" useGeneratedKeys="true" keyProperty="id">
        insert into announcement(title, content, status, created_at, updated_at, is_deleted)
        values (#{title}, #{content}, #{status}, #{createdAt}, #{updatedAt}, #{isDeleted})
    </insert>

    <select id="getAllAnnouncements" resultType="com.fadreit.inkreadboot.Entity.Announcement">
        select id, title, content, status, created_at, updated_at, is_deleted
        from announcement
        <where>
            <if test="keyword != null and keyword != ''">
                and (title like concat('%', #{keyword}, '%') or content like concat('%', #{keyword}, '%'))
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by updated_at desc
    </select>

    <update id="updateAnnouncement">
        update announcement
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteAnnouncement">
        update announcement
        set is_deleted = 1
        where id = #{id}
    </update>

    <update id="updateAnnouncementStatus">
        update announcement
        set status = #{status}
        where id = #{id} and is_deleted = 0
    </update>
</mapper>
